* {
    margin: 0px
}
body {
    background-color: #000935;
}
#title--container {
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 213px;
    font-family: 'Karla', sans-serif;
    height: 100vh;
}
#dropdown--container{
    padding: 20px 20px;
    position: relative;
    font-family: 'Karla', sans-serif;
}

#dropdown--container > select{
    background-color: #60C401;
    padding: 20px 20px;
    position: relative;
    font-size: 36px;;
    color: #FFFFFF;
}
#start--btn{
    background-color: #61C501;
    border-radius: 78px;
    width: 779px;
    height: 118px;
    font-family: "Karla", sans-serif;
    font-size: 36px;
    color: white;
}
